<loader></loader>

<div ng-hide="loading" ng-cloak>

  <form ng-submit="blur()">
    <section>
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <md-input-container flex="100" flex-gt-xs="30" style="margin-top: 50px" >
            <md-icon md-font-icon="search">search</md-icon>
            <label></label>
            <input ng-blur="blur()" ng-model="query.filter" md-autofocus placeholder="{{'Filter Locations' | translate}}">
          </md-input-container>
          <div flex></div>
          <md-button class="md-icon-button md-accent" href="/#/locations/new" aria-label="{{ 'Add Device' | translate }}" hide show-gt-xs>
            <md-icon>add_circle</md-icon>
            <md-tooltip md-direction="bottom">
              <translate>
                Add a new location.
              </translate>
            </md-tooltip>
          </md-button>
        </div>
        <md-divider></md-divider>
      </md-toolbar>
    </section>
  </form>

  <md-content class="md-padding" layout="column" layout-gt-sm='column' ng-if="locations.length == 0 && !query.filter" ng-cloak>
    <div layout="row" layout-align="center center">
      <div flex="100" flex-gt-sm="50">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" translate>
                No Locations Found
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content translate>
            Please create a location and add your devices.
          </md-card-content>
          <md-divider ng-if="!$last"></md-divider>
          <md-card-actions layout="row" layout-align="end center">
            <md-button href="/#/locations/new" aria-label="{{ 'Add Location' | translate }}">
              <translate>
                Add Location
              </translate>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </md-content>

  <md-content class="md-padding" layout="column" layout-gt-xs='column' ng-if="locations.length || query.filter">
    <div layout="row" layout-align="center center">
      <div flex="100">
        <md-card>
          <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
              <p translate translate-n="{{ ::_links.total_entries }}" translate-plural="{{ ::_links.total_entries }} Locations">1 Location</p>
            </div>
          </md-toolbar>
          <md-card-content>
            <md-table-container style="overflow-x:scroll;">
              <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise" class="locations">
                <thead md-head>
                  <tr md-row class="md-table-headers-row">
                    <th md-column><a href="" ng-click='sort("state", query.direction)' translate>State</a></th>
                    <th hide show-gt-sm md-column ng-if="user_id"><a href="" ng-click='sort("owner", query.direction)' translate>Owner</a></th>
                    <th md-column><span translate><a href="" ng-click='sort("location_name", query.direction)' translate>Name</a></th>
                    <th hide show-gt-md md-column><a href="" ng-click='sort("location_address", query.direction)' translate>Address</a></th>
                    <th hide show-gt-md md-column><a href="" ng-click='sort("boxes_count", query.direction)' translate>Devices</a></th>
                    <th hide show-gt-md md-column><a href="" ng-click='sort("updated_at", query.direction)' translate>Updated</a></th>
                    <th md-column><span translate>Action</span></th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row md-select="location" ng-repeat="location in filtered = (locations | filter: query.filter)">
                    <td md-cell>
                      <md-icon md-menu-origin ng-if="location.state != 'archived'" class="s48">check_circle</md-icon>
                      <md-icon md-menu-origin ng-if="location.state == 'archived'" class="s48">archived</md-icon>
                    </td>
                    <td hide show-gt-sm md-cell ng-if="user_id">
                      <md-icon md-menu-origin>{{ ::location.owner ? 'done' : 'perm_identity' }}</md-icon>
                      <md-tooltip>
                        <span ng-if="::location.owner" translate>This location is owned by the user.</span>
                        <span ng-if="::location.owner != true" translate>The user is an admin of this location.</span>
                      </md-tooltip>
                    </td>
                    <td md-cell>
                      <a href="/#/locations/{{ location.slug}}">
                        {{ ::location.location_name | truncate:20 }}
                      </a>
                    </td>
                    <td hide show-gt-md md-cell>
                      {{ ::location.location_address }}
                    </td>
                    <td hide show-gt-xs md-cell>
                      {{ ::location.boxes_count }}
                    </td>
                    <td hide show-gt-sm md-cell>
                      {{ location.updated_at | humanTime }}
                    </td>
                    <td md-cell>
                      <md-menu>
                        <md-button aria-label="{{ 'Open Menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                          <md-icon md-menu-origin md-font-icon="more_black" class="s48">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                          <md-menu-item>
                            <md-button href="/#/locations/{{ location.slug }}">
                              <md-icon>pageview</md-icon>
                              <p flex translate>View Location</p>
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{::_links.total_entries}}" md-on-paginate="onPaginate" md-label="{{pagination_labels}}" md-page-select></md-table-pagination>
          </md-card-content>
        </md-card>

      </div>
    </div>
  </md-content>
</div>
