body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Temp fixes to address */

ul {
  line-height: 1.5rem;
}

.hidden { display: none; }

.hard-break {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+, 6, 7, 8 compability-mode */
  -ms-word-break: break-all; /* Internet Explorer 8 */
}

.marker-action a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0;
}

.status-icon {
  width: 10px;
}

md-table-container::-webkit-scrollbar {
  margin-top: 10px;
  -webkit-appearance: none;
  width: 1px;
  height: 5px;
}

md-table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #CCC;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.md-toolbar-tools md-input-container {
  margin-top: 50px;
}

.user-avatar {
  border-radius: 99%;
}

td a {
  font-weight: 500;
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

td a:hover, td a:focus {
  color: #3b78e7;
  text-decoration: none;
  background-image: -webkit-linear-gradient(transparent 94%,#3b78e7 94%);
  background-image: linear-gradient(transparent 94%,#3b78e7 94%);
}

md-menu-item > button.md-button {
  display: inline;
}

a.no-anchor-style {
  color: inherit;
  text-decoration: none;
}

md-menu-content {
  max-height: 504px;
}

.intercom-foot-pad {
  padding-bottom: 70px;
}

.align-right {
  text-align: right!important;
}

form.flow {
  font-size: 1.1rem;
}

form.flow label {
  margin: 10px 0 10px 0;
}

form .url {
  font-weight: 700;
  font-size: 1.1rem;
  padding-top: 25px;
}

/* Temp fixes to address */

.ng-hide.ng-hide-animate{
  display: none !important;
}

.locations-autocomplete li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

.locations-autocomplete li:last-child {
  border-bottom-width: 0;
}

.locations-autocomplete .item-title, .locations-autocomplete .item-metadata {
  display: block;
  line-height: 2;
}

md-toolbar md-autocomplete {
  min-width: 300px;
  margin-top: 18px;
  /* height: 15px; */
}

.login {
  background: #455A64; /* Old browsers */
  background: -moz-linear-gradient(top,  #455A64 0%, #37474F 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #455A64 0%,#37474F 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #455A64 0%,#37474F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455A64', endColorstr='#37474F',GradientType=0 ); /* IE6-9 */
  z-index: 1000000000;
}

.login-spin-hide {
  display: none;
}

.login-spin {
  display: block;
}

.integrations-icon-show {
  width: 60px;
}

.picker-wider .md-datepicker-input {
  min-width: 155px;
}

.s12.material-icons {
  font-size: 16px;
}

md-card-header.graph-small {
  padding: 0px 0 0 20px;
}

.graph-small md-card-header-text {
  padding: 10px 0 0 0px;
}

.design-sidebar .md-no-style {
  border-bottom: 1px solid #ECECEC;
  padding: 2px 0px 2px 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.870588);
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
}

.design-sidebar .md-no-style md-icon {
  float:right;
  padding-right:15px;
  padding-top:7px;
}

.design-sidebar .md-button-toggle {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 5px;
  margin: 0 0 0px 0;
  max-height: 40px;
  overflow: hidden;
  padding: 7px 16px 20px 5px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
  border-bottom: 1px solid #ECECEC;
}

.design-sidebar .md-button-toggle .md-toggle-icon {
  margin: auto 0 auto auto;
  padding-top: 2px;
  width: 15px;
  float: right;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.design-sidebar .menu-toggle-list {
  padding-top: 20px;
}

md-toolbar.md-table-toolbar .sidenav {
  padding: 0px;
}

md-sidenav.site-sidenav {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}

md-sidenav > md-toolbar {
  height:64px;
}

md-sidenav .divider {
  padding 7px 0 0 0;
  margin: 15px 0 10px 0;
}

md-sidenav.design-sidebar {
  width: 350px;
  min-width: 350px;
  max-width: 350px;
}

md-sidenav.md-sidenav-right ul {
  margin: 0px -15px 0 -13px;
}

.splash-design-buttons {
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  margin-top: 5%%;
  margin-bottom: 5%;
}

.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 80px;
  bottom: 16px;
  left: auto;
  position: fixed;
}

.active {
  background-color: rgba(158,158,158,0.2);
}

.bottom-right {
  top: auto;
  right: 90px;
  bottom: 16px;
  left: auto;
  position: fixed;
}

md-button-group {
  border-radius: 3px;
  display: inline-block;
  padding: 0;
  margin: 6px 8px;
  min-height: 36px;
  min-width: 88px;
}

md-button-group.md-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

md-button-group > .md-button {
  text-transform: lowercase;
  border-radius: 0;
  border: 0;
  min-width: 20px;
  margin: 0;
}

.small-chart {
  min-height: 250px;
}

.clients-charts md-card {
  min-height: 350px;
}

.md-button .active {
  background-color: rgba(158,158,158,0.2)!important;
}

.md-toolbar-tools {
  font-size: 14px;
}

.online {
  color: #4CAF50!important;
}

.processing {
  color: #E91E63!important;
}

.ignored {
  color: #E91E63!important;
}

.muted {
  color: #607D8B;
}

.offline {
  color: #F44336;
}

.dnat {
  color: #FF9800;
}

img.box {
  width: 20px!important;
  max-height: 20px!important;
}

img.state-icon {
  width: 18px!important;
  height: 18px!important;
}

img.box-image {
  margin-bottom: -6px;
  height: 22px;
  padding: 0 8px;
}

/* table.md-table.md-row-select td.md-cell:nth-child(2), table.md-table.md-row-select th.md-column:nth-child(2) { */
/*   padding: 0 0px 0 12px; */
/* } */

table.clients th {
  font-size: 0.65rem!important;
}

table.clients td {
  font-size: 0.65rem!important;
  /* padding: 0 12px 0 5px!important; */
}

table.md-table tr.highlight {
  background-color: #eeeeee !important;
}

table.md-table tr.muted td.md-cell {
  color: #607D8B;
}

table.md-table td.with-padding {
  padding: 0 0 0 25px!important;
}

/* table.md-table.md-row-select th.no-padding { */
/*     padding: 0 0px 0 10px!important; */
/* } */

table.md-table.md-row-select td.box-icon {
  padding: 2px 5px 0 0px!important;
}

table.md-table.md-row-select td.box-status {
  padding: 2px 0px 0 10px!important;
}

/* .box-spinner { */
/*   margin: 5px; */
/*   padding: 0; */
/* } */

ul.errors {
  margin: -20px -35px -15px -20px;
}

.layout-padding {
  padding: 14px;
}

.design-sidebar .layout-padding {
  height: 100%;
}

md-toolbar h3 {
  margin: auto;
  margin: auto 20px;
  font-weight: 500;
}

table td {
  white-space: nowrap;
}

table tr td, table.print-friendly tr th {
  page-break-inside: avoid;
}

.menu-subhead {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .010em;
  padding: 0 16px 0 20px;
  color: rgba(0,0,0,0.54);
  max-width: 250px;
  word-break: break-word;
}

.copy {
  color: #ccc;
  font-size: 90%;
}

.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 10;
}

.side-menu .material-icons {
  margin-right: 27px;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  /* line-height: 55px; */
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 3px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 37px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.minicolors-theme-bootstrap .minicolors-swatch {
  top: 5px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.minicolors-theme-bootstrap .minicolors-input {
  padding-left: 35px;
  margin-bottom: -20px;
}

.inputdemoErrorsAdvanced {
}

.hint {
  font-size: 12px;
  line-height: 24px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

#map_canvas_container {position: relative;}
#map_canvas {position: absolute; top: 65px; left: 0; bottom: 0; right: 0;}
#map_canvas_wide {position: absolute; top: 54px; left: 0px; bottom: 0; right: 0;}
#map_canvas_inner {width: 100%; height: 465px; margin: 43px 0;}

.md-toolbar-tools a {
  font-size: 20px;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 60%;
  margin: 0 20px;
  opacity: 0.5;
}

[scroll-glue] {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  max-height: 90%;
  top: 80px;
  bottom: 100px;
  left: 20px;
  right: 0;
}

.message-small {
  color: #c5c5c5;
  font-size: 10px;
}

.message-small a {
  color: #c5c5c5;
  text-decoration: none;
}

.message-small .material-icons {
  font-size: 18px;
  color: #c5c5c5;
}

#messages-outer {

}

#message-list {
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: .25rem solid transparent;
  padding: 20px 20px 80px 20px;
}

#message-footer {
  position: fixed;
  bottom: 0;
  width: 75%;
  background: #fff;
}

.message-inner {
  border-bottom: 1px solid #f5f3f3;
  padding: 10px 0;
}

#message-footer input {
  font-size: 16px;
  height: 20px;
  outline-width: 1px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 10px 0 10px 14px;
  width: 99%;
}

.message-input input:focus {
  outline-color: transparent;
  outline-style: none;
  text-transform: lowercase;
}

.message-notifier {
  padding: 0 20px;
}

.triggers pre {
  margin-top: -30px;
}

pre .list-unstyled {
    list-style: none;
    margin: 0px 0 -40px -40px;
    line-height: 8px;
}

md-card.highlight-section {
  background-color: #f4f8ff;
}

/* pre { */
/*   text-space-collapse: trim-inner; */
/* } */
